

<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
      <ul class="main-header__item-list">
        <li class="main-header__item"><a href="/" class="<%= path === '/' ? 'active' : '' %>" >Shop</a></li>
    <% if (isLoggedIn) {  %>
      <li class="main-header__item"><a href="/admin/add-product" class="<%= path === '/admin/add-product' ? 'active' : '' %>">Add Product</a></li>
        <li class="main-header__item"><a href="/admin/product-list-admin/?page=1" class="<%= path === '/admin/products-list' ? 'active' : '' %>">Admin Products</a></li>
        <li class="main-header__item"><a href="/cart" class="<%= path === '/cart' ? 'active' : '' %>">Cart</a></li>
        <li class="main-header__item"><a href="/orders" class="<%= path === '/orders' ? 'active' : '' %>">Orders</a></li>
   <% } else { %> 
    <div></div>
   <% } %>
        <li class="main-header__item"><a href="/products/?page=1" class="<%= path === '/products' ? 'active' : '' %>">Products</a></li>
      </ul>
      <ul class="main-header__item-list">
  <%  if (!isLoggedIn) { %>
    <li class="main-header__item">
            <a href="/login" class="<%= path === '/login' ? 'active' : '' %>">Login</a>
        </li>
        <li class="main-header__item">
          <a href="/signup" class="<%= path === '/signup' ? 'active' : '' %>">Signup</a>
      </li>
  <% } else { %> 
        <li class="main-header__item">
          <form action="/logout" method="POST">
            <input type="hidden" value="<%= csrfToken %>" name="_csrf"> <!--  VOCÊ _ _DEVE UTILIZAR ESSE NAME de '_csrf' para esse INPUT FIELD DE TYPE 'hidden' SE VOCê QUER__ QUE A PACKAGE 'csurf' CONSIGA DETECTAR ESSE INPUT FIELD__ COMO AQUELE RESPONSÁVEL/SEGURADOR DE SUA CSRF TOKEN...-->
              <button type="submit">Logout</button>
          </form>
        </li>
      <% } %>
      </ul>
    </nav>
  </header>
    <nav class="mobile-nav">
      <ul class="mobile-nav__item-list">
        <li class="mobile-nav__item"><a href="/" class="<%= path === '/' ? 'active' : '' %>" >Shop</a></li>
        <li class="mobile-nav__item"><a href="/products/?page=1" class="<%= path === '/products' ? 'active' : '' %>">Products</a></li>
    <% if (isLoggedIn) { %>
      <li class="mobile-nav__item"><a href="/admin/add-product" class="<%= path === '/admin/add-product' ? 'active' : '' %>">Add Product</a></li>
      <li class="mobile-nav__item"><a href="/admin/product-list-admin/?page=1" class="<%= path === '/admin/products-list' ? 'active' : '' %>">Admin Products</a></li>
      <li class="mobile-nav__item"><a href="/cart" class="<%= path === '/cart' ? 'active' : '' %>">Cart</a></li>
      <li class="mobile-nav__item"><a href="/orders" class="<%= path === '/orders' ? 'active' : '' %>">Orders</a></li>
      <li class="mobile-nav__item">
        <form action="/logout" method="POST">
          <input type="hidden" value="<%= csrfToken %>" name="_csrf"> <!--  VOCÊ _ _DEVE UTILIZAR ESSE NAME de '_csrf' para esse INPUT FIELD DE TYPE 'hidden' SE VOCê QUER__ QUE A PACKAGE 'csurf' CONSIGA DETECTAR ESSE INPUT FIELD__ COMO AQUELE RESPONSÁVEL/SEGURADOR DE SUA CSRF TOKEN...-->
            <button type="submit">Logout</button>
        </form>
      </li>
  <%  }  else { %>
    <li class="mobile-nav__item">
      <a href="/login" class="<%= path === '/login' ? 'active' : '' %>">Login</a>
  </li>
  <li class="mobile-nav__item">
    <a href="/signup" class="<%= path === '/signup' ? 'active' : '' %>">Signup</a>
</li>
  <% } %>
      </ul>
    </nav>

